html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
}

.main-toaster {
    display: flex;
    justify-content: center;
    --width: 65% !important;
}

/* each toast */
.main-toaster li {
    min-width: 500px !important;
}